BasedOnStyle: LLVM

Language: Cpp
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
ReferenceAlignment: Left

NamespaceIndentation: None

AccessModifierOffset: -4
IndentCaseLabels: true

SortIncludes: true
IncludeBlocks: Preserve

SpaceBeforeParens: ControlStatements

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

Cpp11BracedListStyle: true

EmptyLineBeforeAccessModifier: LogicalBlock
KeepEmptyLinesAtTheStartOfBlocks: false

ReflowComments: true

DerivePointerAlignment: false