Checks: >
    bugprone-*,
    performance-*,
    modernize-*,
    readability-*,
    cppcoreguidelines-*,
    portability-*,
    clang-analyzer-*,
    misc-*,
    -modernize-use-trailing-return-type,
    -bugprone-easily-swappable-parameters,
    -readability-magic-numbers,
    -cppcoreguidelines-avoid-magic-numbers,
    -readability-identifier-length,
    -readability-redundant-access-specifiers,
    -readability-uppercase-literal-suffix,
    -misc-include-cleaner,
    -misc-misplaced-const,
    -misc-non-private-member-variables-in-classes,

WarningsAsErrors: ''

HeaderFilterRegex: '.*'

CheckOptions:

    # Modernize
    - key: modernize-use-nullptr.NullMacros
      value: 'NULL'

    - key: modernize-loop-convert.MinConfidence
      value: reasonable

    # Readability
    - key: readability-identifier-naming.NamespaceCase
      value: lower_case

    - key: readability-identifier-naming.FunctionCase
      value: lower_case

    - key: readability-identifier-naming.VariableCase
      value: lower_case

    - key: readability-identifier-naming.MemberCase
      value: lower_case

    - key: readability-identifier-naming.ParameterCase
      value: lower_case

    # Performance
    - key: performance-for-range-copy.WarnOnAllAutoCopies
      value: false

    # cppcoreguidelines
    - key: cppcoreguidelines-avoid-magic-numbers.IgnorePowersOf2IntegerValues
      value: true

FormatStyle: file

UseColor: true